<mat-dialog-content class="mat-typography">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.providerName}}</mat-card-title>
      <mat-card-subtitle><span class="bold-fnt"> Email Address: </span> {{data.email}} </mat-card-subtitle>
      <mat-card-subtitle><span class="bold-fnt"> Number: </span>{{data.phone}} </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let specialist of data.specialistClinic">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{specialist.specialistType}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><span matTooltip="Service is available 24/7" matTooltipPosition="right" class="clinic-item"> In House:
        </span> <span  class="clinic-unit"> {{specialist.isInHouse}} </span></p>
      <p> <span  matTooltip="Service is available on request" matTooltipPosition="right"  class="clinic-item" > On Request: </span> <span  class="clinic-unit" >{{specialist.onRequest}}</span></p>
      <hr>
      <p *ngFor="let clinic of specialist.clinicDaysAndTime">
        <span  class="clinic-item" > {{clinic.day}}: </span> <span  class="clinic-item" >{{clinic.time}} </span>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>